<% provide :title, t(".reservation") %>
<p></p>
<div class="row ">
  <div class="col-sm-12 commontop text-center">
    <h4>RESERVATION</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
    <hr>
  </div>
  <div class="col-sm-6 col-xs-12">
    <img src="http://wptheme.co.in/restaurent_html/images/reservation.jpg" class="img-responsive" alt="image" title="image">
  </div>
  <div class="col-sm-6 col-xs-12">
    <form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input name="NAME" value="NAME" placeholder="NAME" id="input-name" class="form-control" type="text">
    </div>
    <div class="form-group">
      </i><input name="EMAIL" value="EMAIL" placeholder="email" id="input-email"
        class="form-control" type="text">
    </div>
    <div class="form-group">
      <input name="mobile" value="MOBILE NUMBER" placeholder=""
        id="input-mobile" class="form-control" type="text">
    </div>
    <div class="form-group">
      </i><input name="date" value="DATE" placeholder="date" id="input-date"
        class="form-control" type="text">
    </div>
    <div class="form-group">
      </i><input name="time" value="TIME" placeholder="time" id="input-time"
        class="form-control" type="text">
    </div>
    <div>
      <select class="selectpicker form-control bs-select-hidden">
        <option selected="" value="0">NUMBER OF PERSONS</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="2">3</option>
        <option value="2">4</option>
        <option value="2">5</option>
      </select>
    </div>
    <p></p>
    <div class="form-group">
      </i><textarea class="form-control" id="message" name="message"
        placeholder="MESSAGE"></textarea>
    </div>
  </form>
  <div class="text-left">
    <button type="submit" class="btn-primary">BOOK NOW</button>
  </div>
</div>
