@import "bootstrap";
@import "font-awesome";

.fix-jum {
  padding: 20px 15px;
}

.width_table {
  width: 100%;
}

.background_tr {
  background-color: #837a65;
}

/*CSS for gallery*/
.image {
  position: relative;
  width: 95%;
  padding-bottom: 35px;
}

.img-responsive {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover .img-responsive {
  opacity: 0.3;
}

.image:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.small-icon {
  position: relative;
  width: 40%;
}
